* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 0px;
}

.post {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.post-metadata {
    font-size: 95%;
    color: grey;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

ul {
    display: flex;
    margin: 0px;
    list-style: none;
}

li {
    font-size: 125%;
    margin-left: 5px;
}