* {
    box-sizing: border-box;
}

body {
    font-size: medium;
}

.post {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.post-metadata {
    font-size: 95%;
    color: grey;
}